<template lang="pug">
  div
    nuxt
    footer.centered
      img(src="/logo.png", style="padding: 10px;")
</template>

<style>
.centered {
  display: flex;
  align-item: center;
  justify-content: center;
  img {
    margin-top: 25%;
  }
}
</style>

