<template lang="pug">
  .section
    .columns.is-mobile
      .column.is-three-fifths.is-offset-one-fifth
        h1.title Análisis de Audiencias
        .content
          p Las instituciones culturales se enfrentan a menudo a un desafío respecto al análisis de los datos que tienen de sus usuarios registrados. Adaptándonos a la GDPR y a los datos a los que actualmente las instituciones tienen acceso, hemos desarrollado un proyecto que permite a estas entidades tener acceso a una interfaz alimentada por sus diferentes fuentes de datos y que genere informes útiles para los distintos departamentos.

          p El programa de analítica de audiencias se personaliza para cada institución que así lo solicite enviando un mail a <a href="mailto:info@factoriacultural.es">info@factoriacultural.es</a> . Se estudian sus fuentes de datos, se integran aquellas compatibles y en el dashboard semejante al que sigue, obtienen la información de forma segmentada e interactiva. 

          p En el ejemplo a continuación se utilizan datos propios de Factoría Cultural con dos fuentes: Twitter y formularios propios.
        h2.title Dashboard Factoría Cultural
        .columns
          .column.is-half
            b-field(label="Desde")
              b-datepicker(v-model="fromDate", :disabled="$wait.any")
          .column.is-half
            b-field(label="Hasta")
              b-datepicker(v-model="toDate", :disabled="$wait.any")
        button.button.is-primary(@click="getData", :disabled="$wait.any") Buscar 
        img(src="/intro.svg", v-if="data.length === 0 && !$wait.any")
        v-wait(for="my data")
          template(slot="waiting")
            .centered
              img(src="/spinner.svg")
          div(v-if="data.length")
            div(v-if="filterBy('emprende escena', 'birthYear').labels.length")
              .chart.title.is-4 Año de nacimiento
              donut(:data="filterBy('emprende escena', 'birthYear')")
            div(v-if="filterBy('emprende escena', 'country').labels.length")
              .chart.title.is-4 Nacionalidad
              donut(:data="filterBy('emprende escena', 'country')")
            div(v-if="filterBy('twitter', 'impresiones').labels.length")
              .chart.title.is-4 RRSS Impresiones
              bar-chart(:data="filterBy('twitter', 'impresiones')")
            div(v-if="filterBy('twitter', 'clics en URL').labels.length")
              .chart.title.is-4 RRSS Clics en URL
              bar-chart(:data="filterBy('twitter', 'clics en URL')")
        .centered
          img(src="/ministerio.png")
</template>
<script>
import moment from 'moment'
import BarChart from '~/components/bar-chart'
import Donut from '~/components/donut-chart'
import {filter, groupBy, orderBy} from 'lodash'
function pad(n) {
  return n<10 ? '0'+n : n
}

function getRandomColor() {
  const letters = '0123456789ABCDEF'
  let color = '#'
  for (let i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)]
  }
  return color
}

export default {
  components: {
    BarChart,
    Donut
  },
  data () {
    return {
      fromDate: new Date(),
      toDate: new Date(),
      ssnnFilter: '',
      data: []
    }
  },
  mounted () {
    this.fromDate = moment(this.toDate).subtract(3, 'M').toDate()
  },
  computed: {
    twitter () {
      return filter(this.data, {'category': 'twitter'})
    },
    twitterFields () {
      if (this.twitter.length) {
        return Object.keys(this.twitter[0])
      } else {
        return []
      }
    },
    escena () {
      return filter(this.data, {'category': 'emprende escena'})
    }
  },
  methods: {
    filterBy(category, key) {
      let filtered = filter(this.data, {'category': category})
      let p
      if (category !== 'twitter') {
        p = groupBy(filtered, `${key}`)
      } else {
        p = groupBy(filtered, 'fromDate')
      }
      return this.dataSet(p, key)
    },
    dataSet (data, key) {
      if (data.hasOwnProperty('ssnn')) {
        let label = Object.keys(data)
        let color = getRandomColor()
        let datasets = []
        for(const k of Object.keys(data)) {
          datasets.push(sumBy(data[k], key))
        }
        let tmp = {
          labels: label,
          datasets: [{
            label: '',
            data: datasets,
            backgroundColor: color
          }]
        }
        return tmp
      } else {
        let labels = Object.keys(data)
        let datasets = []
        for(const k of Object.keys(data)) {
          datasets.push(data[k].length)
        }
        let tmp = {
          labels: labels,
          datasets: [{
            label: '',
            data: datasets,
            backgroundColor: datasets.map(getRandomColor)
          }]
        }
        return tmp
      }
    },
    getYear (filter) {
      return filter.getFullYear()
    },
    getMonth (filter, withPad=true) {
      if (withPad) {
        return pad(filter.getMonth() + 1)
      } else {
        return filter.getMonth() + 1
      }
    },
    range(start, end) {
      return Array(end - start + 1).fill().map((_, idx) => start + idx)
    },
    async getData () {
      this.$wait.start('my data')
      let fromYear = this.getYear(this.fromDate)
      let fromMonth = this.getMonth(this.fromDate, false)
      let toYear = this.getYear(this.toDate)
      let toMonth = this.getMonth(this.toDate)
      if ((toMonth >= 0) && (toYear >= fromYear)) {
        let years = this.range(fromYear, toYear)
        let months = this.range(this.getMonth(this.fromDate, false), this.getMonth(this.toDate, false))
        let start = moment(`${fromYear}-${fromMonth}`)
        let end = moment(`${toYear}-${toMonth}`)
        let all = []
        let lastId = -1
        while (start.format() !== end.format()) {
          let url = `api/taskrun?info={"fromYear": "${start.format('Y')}", "fromMonth": "${start.format('MM')}"}&limit=100`
          console.log(url)
          let data = await this.$axios.$get(url)
          while (data.length > 0) {
            lastId = data[data.length - 1].id
            all = [...all, ...data.map(d => d.info)]
            url = `api/taskrun?info={"fromYear": "${fromYear}", "fromMonth": "${fromMonth}"}&limit=100&last_id=${lastId}`
            data = await this.$axios.$get(url)
          }
          start.add(1, 'M')
        }
        this.data = []
        this.data = orderBy(all, ['fromYear', 'fromMonth', 'fromDay'])

        }
      this.$wait.end('my data')
    }
  }
}
</script>
<style lang="scss" scoped>
.centered {
  display: flex;
  align-item: center;
  justify-content: center;
  img {
    margin-top: 25%;
  }
}
.chart {
  margin-top: 100px;
  text-align: center;
  padding-top: 100px;
  border-top: 1px solid rgba(0,0,0, 0.3);
  &:first-child {
    border-top: none;
  }
}
</style>
